{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "react-hooks", "jsx-a11y"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:flowtype/recommended",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" }],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-unused-vars": 1,
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "flowtype/no-types-missing-file-annotation": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react/jsx-filename-extension": ["off", { "extensions": [".tsx", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-props-no-spreading": "off",
    "no-empty": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-unused-vars": 1,
    "no-param-reassign": 1,
    "require-yield": 1,
    "spaced-comment": 1
    // "indent": [2, "tab"],
    // "quotes": [2, "single"],
    // "linebreak-style": [2, "unix"],
    // "semi": [2, "always"]
    // "react/jsx-uses-vars": 2,
    // "react/prop-types": 1,
    // "react/state-in-constructor": "off",
    // "react/no-unused-prop-types": "off",
    // "react/no-unused-state": "off",
    // "react/forbid-prop-types": "off",
    // "react/destructuring-assignment": "off",
    // "react/require-default-props": "off",
    // "react/prefer-stateless-function": "off",
    // "eslint-disable-next-line": "off",
    // "no-shadow": "off",
    // "prefer-template": "off",
    // "linebreak-style": "off",
    // "no-unused-vars": "off",
    // "no-param-reassign": "off",
    // "class-methods-use-this": "off",
    // "import/no-useless-path-segments": "off",
    // "import/extendsions": "off",
    // "import/order": "off",
    // "prettier/prettier": ["error"],
    // "camelcase": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
